<div  role="main">
            <div class="">
                <div class="page-title">
                    <h3>Status of Orders</h3>
                    <div class="title_left">
                        <a href="/orders/show?s=not&p=1" class="btn btn-secondary">Not delivery</a>
                        	<a href="/orders/show?s=delivering&p=1" class="btn btn-secondary">Delivering</a>
                            <a href="/orders/show?s=delivered&p=1" class="btn btn-secondary">Delivered</a>
                            
                </div>
                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">

                            <div class="x_content">


                            {{#each pages}}
                            <a href="/orders/show?p={{this.page}}&s={{this.status}}" class="btn btn-secondary">{{this.page}}</a>
                            {{/each}}
                                <!-- start project list -->
                                <table class="table table-striped projects">
                                    <thead>
                                        <tr>
                                            <th style="width: 15%">Name</th>
                                            <th style="width: 15%">Address</th>
                                            <th style="width: 15%">Phone</th>
                                            <th style="width: 15%">Note</th>
                                            <th style="width: 10%">Status</th>
                                            {{#if els}}
                                            <th style="width: 20%">Order date</th>
                                            {{/if}}
                                            {{#if delivered}}
                                                 <th style="width: 20%">Delivery date</th>
                                            {{/if}}
                                            <th style="width: 5%">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each input}}
                                        <tr>
                                            <td>
                                                <a>{{this.name}}</a>

                                            </td>
                                            <td>
                                                <a>{{this.address}}</a>
                                            </td>
                                            <td>
                                                <a>{{this.phone}}</a>
                                            </td>
                                            <td>
                                                <a>{{this.note}}</a>
                                            </td>
                                            <td>
                                                <a>{{this.status}}</a>
                                            </td>
                                            <td>
                                                <a>{{this.date}}</a>
                                            </td>
                                            <td>
                                                <a>{{this.total}}</a>
                                            </td>
                                            <td>
                                                <a href="/orders/{{this.id}}/update?s={{this.status}}">Update</a>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
