<div  role="main">
            <div class="">
                <div class="page-title">
                    	<h3>Top 10 products by quantity</h3>
                    <div class="title_left">
                        
                </div>
                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">

                            <div class="x_content">



                                <!-- start project list -->
                                <table class="table table-striped projects">
                                    <thead>
                                        <tr>
                                            <th style="width: 5%">#</th>
                                            <th style="width: 25%">Name</th>
                                            <th style="width: 20%">Procedure</th>
                                            <th style="width: 15%">Amount</th>
                                            <th style="width: 15%">Price</th>
                                            <th style="width: 15%">Turnover</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each statistical}}
                                        <tr>
                                            <td>#</td>
                                            <td>
                                                <a>{{this.name}}</a>

                                            </td>
                                            <td>
                                                <a>{{this.procedure}}</a>
                                            </td>
                                            <td>
                                                <a>{{this.amount}}</a>
                                            </td>
                                            <td>
                                                <a>{{this.price}}</a>
                                            </td>
                                          <td>
                                                <a>{{this.turnover}}</a>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
